@import "compass/layout";
@import "compass/css3";
@import "compass/typography/links/link-colors";

@import "susy";

$container-style: static;

$experimental-support-for-svg: true;


$title-color:   #552401;
$article-color: #4A2106;
$link-color:    #C64200;
$visited-color: #97390A;

body {
  margin: 0px;
  background-color: black;
  
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:link    { color: $link-color;    }
a:visited { color: $visited-color; }
a:hover   { color: $visited-color; }
a:active  { color: $visited-color; }


.gradient {
  @include background( linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)),
  image-url("bg_tilling.png"));
  
  -pie-background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),image-url("bg_tilling.png");

  width: 100%;
  height: 1300px;
  
  position: absolute;
  left: 0;
  top: image-height('head_tilling.png');
  
  z-index: -1;
}

.center {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}


#head {
  background-image: image-url('head_tilling.png');
  background-repeat: repeat-x;
  height: image-height('head_tilling.png');
  
  z-index: -1;
}




#banner{
  @include container;
  
  background-image: image-url('head_pic.png');
  height: image-height('head_pic.png');
  margin-top: - image-height('head_tilling.png');
  margin-bottom: 1em;
  padding: 0;
  
  h1 {
    margin: 0;
    padding: 0;
    color: #926A48;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  
  #navbar {
    position: relative;
    top: image-height('head_pic.png') - 105px;
    
    ul, li {
      padding: 0;
      margin: 0;
    }
    
    li {
      float: left;
      margin: 10px;
    }
    
    .btn_home {
     display:block;
     width: image-width('btn_home.png');
     height: image-height('btn_home.png') /2 ;
     background: image-url('btn_home.png') center top no-repeat;
    }
    
    .btn_home:hover {
       background: image-url('btn_home.png') 0 -62px;
    }
    
    .btn_blog {
     display:block;
     width: image-width('btn_blog.png');
     height: image-height('btn_blog.png') / 2;
     background: image-url('btn_blog.png') center top no-repeat;
    }
    
    .btn_blog:hover {
       background: image-url('btn_blog.png') 0 -62px;
    }
    
    .btn_download {
     display:block;
     width: image-width('btn_download.png');
     height: image-height('btn_download.png') / 2;
     background: image-url('btn_download.png') center top no-repeat;
    }
    
    .btn_download:hover {
       background: image-url('btn_download.png') 0px -62px;
    }
  }
}


#wrap {
  @include container;
  
  h2 {
    color: $title-color;
  }
  
  p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.7;
  }
  
  .date {
    font-size: 1em;
  }
  
  color: $article-color;
  
  #aside {
    @include span-columns(3 omega);
    
    margin-bottom: 1em;
    
    ol, ul, li {
      font-variant:small-caps;
      list-style: none;
      margin: 0;
      padding: 0;
      //color: $link-color;
    }
    
    .aside_body
    {
      padding: 1em;
    }
    
    .bg {
      background-image: image-url('sidebar_1.png');
      width:            image-width('sidebar_1.png');
      height:           image-height('sidebar_1.png');
      
      margin-bottom:    1em;
      
      h2 {
        padding:        0;
        margin:         0px;
        margin-bottom:  1.5em;
        font-size:      1em;
        line-height:    1em;
        color:          $title-color;
      }
    }
  }
  
  .outer_border {
    
  }
  
  .inner_border {
    position: relative;
    border: 2px #C79448 solid;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
  #main {
    @include span-columns(9);
    
    margin-bottom: 50px;
  
    #container {
      background-color: transparent;
    }
  
    #content {
      
      #article {
        border: 2px #B24C07 solid;
        background-color:#d2a158;
        margin-bottom: 1em;
        

        h2 {
          padding: 0;
        }
        
        #top_left {
          position: absolute;
          top:  0;
          left: 0;
          
          background-image: image-url('L_top.png');
          width:            image-width('L_top.png');
          height:           image-height('L_top.png');
          
          margin-left:      -4px;
          margin-top:       -4px;
          
          z-index:          3;
        }
        
        #top_right {
          position: absolute;
          top: 0;
          right: 0;
          background-image: image-url('R_top.png');
          width: image-width('R_top.png');
          height: image-height('R_top.png');
          margin-right: -4px;
          margin-top: -4px;
          z-index: 3;
        }
        
        #bottom_left {
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: image-url('L_bottom.png');
          width: image-width('L_bottom.png');
          height: image-height('L_bottom.png');
          margin-left: -4px;
          margin-bottom: -4px;
          z-index: 3;
        }
        
        #bottom_right {
          position: absolute;
          bottom: 0;
          right: 0;
          background-image: image-url('R_bottom.png');
          width: image-width('R_bottom.png');
          height: image-height('R_bottom.png');
          margin-right: -4px;
          margin-bottom: -4px;
          z-index: 3;
        }
        
        #article_body {
          position: relative;
          background-color: transparent;
          z-index: 4;
          
          min-height: 200px;
           
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}


#footer {
  text-align: center;
  background: #525358;
}
