/* line 58, icons/*.png */
.icons-sprite, .icons-news, .icons-tag, .icons-time { background: url("/images/icons-sfc1677de7f-9623cb4c.png") no-repeat; }

/* line 60, /Users/chaixl/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-news { background-position: 0 0; }

/* line 60, /Users/chaixl/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tag { background-position: 0 -16px; }

/* line 60, /Users/chaixl/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-time { background-position: 0 -32px; }

/* line 21, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
body { margin: 0px; background-color: black; font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 28, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
a { text-decoration: none; }

/* line 32, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
a:link { color: #c64200; }

/* line 33, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
a:visited { color: #97390a; }

/* line 34, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
a:hover { color: #97390a; }

/* line 35, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
a:active { color: #97390a; }

/* line 38, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
.gradient { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url("/images/bg_tilling-3b28a111.png"); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000)), url("/images/bg_tilling-3b28a111.png"); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000), url("/images/bg_tilling-3b28a111.png"); background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000), url("/images/bg_tilling-3b28a111.png"); background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000), url("/images/bg_tilling-3b28a111.png"); background: linear-gradient(top, rgba(0, 0, 0, 0), #000000), url("/images/bg_tilling-3b28a111.png"); -pie-background: linear-gradient(rgba(0, 0, 0, 0), #000000), url("/images/bg_tilling-3b28a111.png"); width: 100%; height: 1300px; position: absolute; left: 0; top: 80px; z-index: -1; }

/* line 54, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
.center { margin-top: 50px; margin-left: auto; margin-right: auto; width: 70%; }

/* line 61, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
.icon { float: left; width: 16px; height: 16px; margin-right: 0.5em; }

/* line 69, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#head { background-image: url("/images/head_tilling-93beefa7.png"); background-repeat: repeat-x; height: 80px; z-index: -1; }

/* line 78, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner { *zoom: 1; width: 59em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; background-image: url("/images/head_pic-635158a1.jpg"); height: 360px; margin-top: -80px; margin-bottom: 1em; padding: 0; }
/* line 38, /Users/chaixl/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#banner:after { content: ""; display: table; clear: both; }
/* line 87, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner h1 { margin: 0; padding: 0; color: #926A48; font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, Helvetica, sans-serif; }
/* line 94, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar { position: relative; top: 255px; }
/* line 98, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar ul, #banner #navbar li { padding: 0; margin: 0; }
/* line 103, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar li { float: left; margin: 10px; }
/* line 108, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_home { display: block; width: 156px; height: 62px; background: url("/images/btn_home-c87224ed.png") center top no-repeat; }
/* line 115, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_home:hover { background: url("/images/btn_home-c87224ed.png") 0 -62px; }
/* line 119, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_blog { display: block; width: 156px; height: 62px; background: url("/images/btn_blog-d876fcff.png") center top no-repeat; }
/* line 126, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_blog:hover { background: url("/images/btn_blog-d876fcff.png") 0 -62px; }
/* line 130, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_download { display: block; width: 264px; height: 62px; background: url("/images/btn_download-9dfd1c49.png") center top no-repeat; }
/* line 137, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#banner #navbar .btn_download:hover { background: url("/images/btn_download-9dfd1c49.png") 0px -62px; }

/* line 144, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap { *zoom: 1; width: 59em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; color: #4a2106; }
/* line 38, /Users/chaixl/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrap:after { content: ""; display: table; clear: both; }
/* line 147, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap h2 { color: #552401; }
/* line 151, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap p { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.7; }
/* line 157, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap .date { font-size: 1em; }
/* line 163, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #aside { width: 14em; float: right; margin-right: 0; *margin-left: -1em; display: inline; margin-bottom: 1em; }
/* line 168, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #aside ol, #wrap #aside ul, #wrap #aside li { font-variant: small-caps; list-style: none; margin: 0; padding: 0; }
/* line 177, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #aside .aside_body { padding: 1em; }
/* line 181, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #aside .bg { background-image: url("/images/sidebar_1-5b0ca2b2.png"); width: 224px; height: 360px; margin-bottom: 1em; }
/* line 188, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #aside .bg h2 { padding: 0; margin: 0px; margin-bottom: 1.5em; font-size: 1em; line-height: 1em; color: #552401; }
/* line 203, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap .inner_border { position: relative; border: 2px #C79448 solid; padding-left: 1.5em; padding-right: 1.5em; }
/* line 210, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main { width: 44em; float: left; margin-right: 1em; display: inline; margin-bottom: 50px; }
/* line 215, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #container { background-color: transparent; }
/* line 221, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article { border: 2px #B24C07 solid; background-color: #d2a158; margin-bottom: 1em; }
/* line 227, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article h2 { padding: 0; }
/* line 231, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #top_left { position: absolute; top: 0; left: 0; background-image: url("/images/L_top-bd7c84c6.png"); width: 98px; height: 98px; margin-left: -4px; margin-top: -4px; z-index: 3; }
/* line 246, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #top_right { position: absolute; top: 0; right: 0; background-image: url("/images/R_top-9d1fc62e.png"); width: 98px; height: 98px; margin-right: -4px; margin-top: -4px; z-index: 3; }
/* line 258, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #bottom_left { position: absolute; bottom: 0; left: 0; background-image: url("/images/L_bottom-734229d6.png"); width: 98px; height: 98px; margin-left: -4px; margin-bottom: -4px; z-index: 3; }
/* line 270, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #bottom_right { position: absolute; bottom: 0; right: 0; background-image: url("/images/R_bottom-13b4be7a.png"); width: 98px; height: 98px; margin-right: -4px; margin-bottom: -4px; z-index: 3; }
/* line 282, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #article_body { position: relative; background-color: transparent; z-index: 4; min-height: 200px; }
/* line 289, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#wrap #main #content #article #article_body img { max-width: 100%; }

/* line 299, /Users/chaixl/work/runestonekeeper.com/source/stylesheets/homepage.scss */
#footer { text-align: center; background: #525358; }
