	  <div id="navbar">
        <ul>
      	<li>
      	  <%= link_to '', '/', class: 'btn_home' %>
      	</li>
      	<!--li>
      	  <%= link_to '', '/blog', class: 'btn_blog' %>
      	</li -->
      	<li style='float:right'>
      	  <%= link_to '', 'http://runestonekeeper.qiniudn.com/RuneStoneKeeper.rar', class: 'btn_download' %>
      	</li>
        </ul>
      </div>
