<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta content='width=device-width' name='viewport'>
    <%= stylesheet_link_tag 'homepage' %>
  </head>
  <body>
    
    <div id="main" role="main">
      <%= yield %>
    </div>
    
  </body>
</html>
